<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="exportkit.xd" >

	

	<application
		android:allowBackup="true"
		android:theme="@style/AppTheme"
		android:label="@string/app_name" >
		<activity
		android:exported="true"
		android:name=".android_app_ui_activity"
		android:configChanges="orientation|keyboardHidden|screenSize"
		android:label="@string/app_name"  >
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>

			<activity android:exported="false" android:name="exportkit.xd.settings_activity"></activity>
			<activity android:exported="false" android:name="exportkit.xd.scheduling_activity"></activity>
			<activity android:exported="false" android:name="exportkit.xd.employeeavailability_activity"></activity>
			<activity android:exported="false" android:name="exportkit.xd.employeemodify_activity"></activity>
			<activity android:exported="false" android:name="exportkit.xd.employeedetails_activity"></activity>
			<activity android:exported="false" android:name="exportkit.xd.employee_activity"></activity>
			<activity android:exported="false" android:name="exportkit.xd.intro_activity"></activity>
	</application>

</manifest>
	
	